<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="icon" href="../favicon-32x32.png" type="image/png" />

    <title>My URL shortener</title>
  </head>
  <body>
    <div class="container min-vh-100">
      <nav class="navbar navbar-light bg-white">
        <span class="navbar-brand mb-0 h1">My URL Shortener</span>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link text-secondary" href="#">My github</a>
          </li>
        </ul>
      </nav>

      <div class="container h-100">
        <form action="/shortUrls" method="POST" class="my-4 form-inline">
          <label for="fullUrl" class="sr-only">URL</label>
          <input
            required
            placeholder="Enter URL here, prefixed with https://"
            type="url"
            name="fullUrl"
            id="fullUrl"
            class="form-control mr-2 col"
          />
          <button type="submit" class="btn btn-outline-dark">Shorten</button>
        </form>

        <div class="table-responsive pb-5 mb-5 h-70">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th>Original URL</th>
                <th>Shortened URL</th>
              </tr>
            </thead>
            <tbody>
              <% shortUrls.forEach(shortUrl => { %>
              <tr>
                <td>
                  <a href="<%= shortUrl.full %>"><%= shortUrl.full %></a>
                </td>
                <td>
                  <a href="<%= shortUrl.short %>"
                    >https://ffy-url-shortener.herokuapp.com/<%= shortUrl.short
                    %>
                  </a>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>

        <div class="container pt-5 mt-5">
          <p>
            Since this is just a simple project, all shortened URLs only works
            for 10 minutes after generated, then they will be deleted.<br />
          </p>
          <p>
            And since this is just a project, the URL is not actually shortened
            so much because I didn't buy a custom short domain, I just used the
            domain that comes with heroku, which is pretty long.
          </p>
          <p>
            I built this URL shortener with with express, bootstrap, mongoDB,
            and some other packages (detailed list on github). The app is
            deployed on Heroku. The github link is
            <a href="https://github.com/feiyangfan/my-simple-url-shortener"
              >here</a
            >.<br />

            <a href="https://github.com/feiyangfan/my-simple-url-shortener"
              >My understanding of URL shortener</a
            >
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
