<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <title>Url shortener</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-light bg-white">
        <span class="navbar-brand mb-0 h1">My URL Shortener</span>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link text-secondary" href="#">My github</a>
          </li>
        </ul>
      </nav>
      <div class="container">
        <form action="/shortUrls" method="POST" class="my-4 form-inline">
          <label for="fullUrl" class="sr-only">URL</label>
          <input
            required
            placeholder="Enter URL here"
            type="url"
            name="fullUrl"
            id="fullUrl"
            class="form-control mr-2 col"
          />
          <button type="submit" class="btn btn-outline-dark">Submit</button>
        </form>
        <p>
          Since this is just a simple project, all shortened URLs only works for
          10 minutes after generated, then they will be deleted.
        </p>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th>Original URL</th>
                <th>Shortened URL</th>
              </tr>
            </thead>
            <tbody>
              <% shortUrls.forEach(shortUrl => { %>
              <tr>
                <td><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
                <td>
                  <a href="<%= shortUrl.short %>"><%= shortUrl.short %></a>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="container fixed-bottom">
      <p>
        This is a url shortener I built with nodejs with express, bootstrap,
        mongoDB, and some other packages(list in github link). github link is
        <a href="https://github.com/feiyangfan/my-simple-url-shortener">here</a
        >.<br />
      </p>
      <p>
        From my understanding of URL shortener, the way it works is that when a
        user enter a URL that is to be shortened, we send it to our database and
        automatically generate a corresponding unique key, which is going to be
        shortened URL, and store them together in our database. Then when a user
        accesses a shortened URL, we find the corresponding original URL in our
        database and redirect the user to it.
      </p>
    </div>
  </body>
</html>
